/* 
MOBILE FIRST DESIGN -- media queries can be found at the end of the styles 
*/

/* Main Styling*/

html, 
body {
    font-family: "Arial", sans-serif;
    color: rgb(56, 56, 56);
}

h1 {font-size: 2.5rem;}
h2 {font-size: 2rem;
    font-weight: 500;}
h4 { font-size: 1.5rem;}
p {font-size: 1rem;
    margin: 10px 0;
    line-height: 1.7rem;
    font-weight: 300;
}

a {text-decoration: none;}

/*classes*/

.container {
    margin: auto;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
}

.large {
    font-size: 1.25rem;
}

.txt-color {
    color: rgb(151, 64, 232);
}

.display-1 {
    font-size: 4rem;
}

.btn{
    display:  inline-block;
    font-size: 15px;
    padding: 12px 23px;
    font-weight: bold;
    letter-spacing: 1px ;
    border-radius: 20px;
    background-color:  rgb(151, 64, 232);
    border: 1px solid  rgb(151, 64, 232);
    color: white;
}

.btn:hover {
    background-color: rgb(191, 152, 226);
    color: white;
    transition: 0.2s;
}

form label {
    display: inline-block;
    margin-bottom: 6px;

}

form .form-group {
    margin-bottom: 16px;
}

form .form-control{
    display: block;
    width: 100%;
    padding: 7px 12px;
    font-size: 1rem;
    line-height: 1.5;
    color: rgb(28, 28, 28);
    background: rgba(217, 185, 245, 0.664);
    border: 1px solid rgb(151, 64, 232) ;
    border-radius: 15px;
}

/*Mainheader*/
#mainheader {
    background: radial-gradient(at 10% 10px, rgb(240, 240, 143), white);
    height: 100vh;
}

/*navbar*/
#navbar {
    color: rgb(151, 64, 232);
    overflow: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

#navbar a{
    color: rgb(151, 64, 232);
}

#navbar .logo{
    float: left;
    padding-top: 16px;
    font-size: 25px;
}

#navbar ul{
    list-style: none;
    float: right;
}

#navbar ul li {
    float: left;
}

#navbar ul li a{
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    color: rgb(28, 28, 28);
    transition: 0.2s;
}

/*Showcase*/
#showcase {
    padding: 80px 0;
}

.showcase-row{
    display: flex;
    padding: 150px 0;
}

.showcase-row-title p .large{
    padding-bottom: 15px;
}

/*Portfolio*/
#portfolio{
    padding: 80px 0;
    text-align: center;
}

#portfolio p{
    width: 500px;
    margin 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;
}

/*contact*/
#contact {
    padding: 80px 0;
}

#contact h2{
    text-align: center;
}

#contact p{
    width: 500px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 50px;

}

.contact-row {
    display: flex;
    padding: 20px;
}

.contact-row-img {
    width: 50%;
}

.contact-row-form {
    width: 50%;
}

.contact-row-img img{
    padding: 120px;
}

.contact-row-form {
    width: 50%;
    border: 1px solid rgba(217, 185, 245, 0.664);
    border: radius 10px;
    padding: 70px;
}

.contact-row-form h4{
    padding-bottom: 40 px;
    text-align: center;
}

.contact-row-form button{
    width: 100%;
}

